@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

html.light body {
  background: #fff;
  color: #171717;
}

html.dark body {
  background: #181818;
  color: #fafafa;
}

@theme inline {
  --font-sans: 'Pretendard', 'sans-serif';
  --font-display: 'Comfortaa', 'sans-serif';
}
