@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

html.light body {
  background: #fff;
}

html.dark body {
  background: #181818;
}

@theme inline {
  --font-sans: 'Pretendard', 'sans-serif';
  --font-display: 'Titillium Web', 'sans-serif';
}
